
<h1>Displaying list of properties</h1>

<div class="row">
<% @properties.each do |property| %>
  <div class="col-md-4">
    <%= link_to property.address, property %>
    <br/>
    <%= image_tag property.image %>
    <br/>
    Price : <%= property.price %><br/>
    <hr>
  </div>
<% end %>
</div>
