
<h1>Displaying list of properties</h1>


<div class="row">
<% @properties.each do |property| %>
  <div class="col-md-4">
    <%= link_to property.address, property %>
    <br/>
    <%= cl_image_tag property.image %>
    <br/>
    Price : <%= property.price %><br/>
    <hr>
  </div>
<% end %>
</div>

<!-- MAPS -->
    <div id="map"></div>



<script>
function initMap() {
  var myLatLng = {lat: -25.363, lng: 131.044};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Center!'
  });
}
  </script>



<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB1gVQ_xqsh5cgL2e9KF0N_aCuRyha0pQ&callback=initMap"
type="text/javascript"></script>
