
<h1> Explore Different Kinds of Homes </h1>

<img class="explore" src='https://static.wixstatic.com/media/1cc1fb_3dde94b61d7c4768941a2d521386c552~mv2_d_2560_1440_s_2.jpeg'>

<p>

<hr>
<% @tags.each do |t| %>
Other homes with tags <strong><%= t.name %></strong>:
  <br>
  <% t.properties.each do |p| %>
      <%=   link_to  p.address  , p%><br>
  <%= cl_image_tag p.image %>
<br>
<% end %>

<hr><hr><hr>
<% end %>
<p>
