
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

html, body {
  font-family: 'Supermercado One', cursive;
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
}


#map {
  height: 500px;
  width: 500px;
  }



a{
    // color: rgba(255,90,95,1)
}


.homepage {
  background: url('wall_paper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


img {
  max-width: 300px;
  max-height: 200px;
}

nav li {
    display: inline;
}

#photos{
  display: inline-block;
}

#photos img{
  max-width: 100px;
  max-height: 100px;
}


.explore_div {
    position: relative;
    text-align: center;
    color: white; font-size: 50px;
}

.explore {
  max-width: 100%;
  max-height: 100%;
}
.show_tag_center_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
  font-family: 'Orbitron', sans-serif;
  color: #437AB2;
  position: relative;
  top: 15px;
  font-size: 30px;
  float: right;

}

.small{
  font-size: 20px;

}


.triangle {
    position: relative;
    top: -20px; left: -286px;
    float: right;
    width: 0;
    height: 0;
    border: solid 15px;
    border-radius: 5px;
    border-color: transparent transparent #437AB2 transparent;
}


.two {
    position: relative;
    top: -20px; left: -142px;
  }

// nav>ul {
// border: 2px solid;
// border-radius: 25px;
// border-color:  #437AB2;
//
// }
